

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #86cccc;
    border: 3px solid white;
}
header{
    background-color:#2874f0;
    border: 3px solid rgb(84, 84, 240);
    font-family:  Helvetica;
    transition: all 0.4s ease-in-out;
}
nav{
    display: flex;
    
}

nav ul li a{
color: white;
text-decoration: none;
/* transition: all 0.4s ease-in-out; */
font-family:  Helvetica;
}
nav ul li a:hover{
    color:rgb(52, 52, 170);
    font-style: bold;
    }
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
.logo{
    display: flex;
    align-items: center;
    /* transition: 25px 3s ease-out; */
}

.logo img{
    width: 85px;
    padding: 0 25px;
}
.search{
    display: flex;
    align-items: center;
    box-decoration-break: slice;
}
.search input{
    width: 33vw;
    height: 31px;
    border-radius: 2px;
    margin: 0 16px 0px 50px;
    padding: 0 15px;
    
}
.container{
    min-height: calc(100vh - 58px - 12vh);
    margin-left: 20px;
    margin-bottom: 44px;
}

footer{
    background-color: #2874f0;
    color: azure; 
    height: 10vh;
    font-family:  Helvetica;
    
}

